@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,500;1,400&display=swap');

body {
  background-color: #fff;
  background-image: url("images/mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 20px;
  overflow-x: hidden;
  width: 100%;
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
}

.Header {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  justify-content: flex-start;
  color: #6070ff;
  font-weight: 700;
}

button.menu {
  color: #6070ff;
  top: 1rem;
  right: 62rem;
  border: none;
  background: none;
  position: absolute;
  align-self: flex-end;
}

h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  font-weight: 800;
  margin-top: 100px;
}

.description {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
  border-radius: 8px;
  padding: 12px, 16px, 12px, 16px;
}

.lets-connect {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 100%;
  vertical-align: top;
  margin-top: 50px;
  font-weight: 900;
}

.icons {
  color: #505f79;
  margin-top: 20px;
}

p {
  font-weight: 5px;
}

/* second part */

.container-2 {
  margin-top: 250px;
  background-color: #fff;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #172b4d;
  margin-top: -5px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #344563;
  list-style-type: none;
  margin-left: -100px;
}

.back-end {
  margin-left: -80px;
}

.num {
  margin-left: -80px;
}

ul {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 510;
  color: #7a869a;
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
  line-height: 24px;
  width: 327px;
  height: 146px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  margin: 20px;
}

.html {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6070ff;
  background-color: #ebebff;
  margin: 4px 12px 4px 12px;
  margin-left: 2px;
  border: 1px solid #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  font-weight: 800;
}

.css {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6070ff;
  background-color: #ebebff;
  margin: 4px 12px 4px 12px;
  margin-left: 2px;
  border: 1px solid #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  font-weight: 800;
}

.javaScript {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #6070ff;
  background-color: #ebebff;
  margin: 4px 12px 4px 12px;
  margin-left: 2px;
  border: 1px solid #ebebff;
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  font-weight: 800;
}

.buttom {
  justify-content: space-around;
  margin-top: -80px;
}

input {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 800;
  color: #396df2;
  background-color: #fff;
  margin-top: 50px;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px;
}

/* third part */

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #172b4d;
  margin-top: -5px;
  position: relative;
}

.container-3 {
  margin-top: 250px;
}

/* fourth part */

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #172b4d;
  margin-top: -5px;
  position: relative;
}

.container-4 {
  margin-top: 250px;
}

/* fifth part */

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #172b4d;
  margin-top: -5px;
  position: relative;
}

.container-5 {
  margin-top: 250px;
}

/* sixth part */
.container-6 {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
}

.description-test p {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
  text-align: justify;
  width: 327px;
  height: 144px;
}

h1.about {
  margin-top: 200px;
}

/* Seventh part */

div.languajes {
  font-family: 'Poppins', sans-serif;
  margin-top: 150px;
}

ul.works {
  flex-direction: column;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  color: #253858;
  font-size: 15px;
  margin-left: -30px;
}

div.frameworks {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  margin-top: 90px;
}

div.skills {
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 800;
}

hr {
  color: #dfe1e6;
  width: 327px;
  height: -1px;
  margin-top: 20px;
  margin-left: 5px;
}

i.fa-angle-right {
  align-items: baseline;
}

li.java {
  margin: 90 310 90 310;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-top: 50px;
}

li.ht {
  margin: 90 310 90 310;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-top: 10px;
}

li.cs {
  margin: 90 310 90 310;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-top: 10px;
}

img.js {
  vertical-align: middle;
}

img.ht {
  vertical-align: middle;
}

img.cs {
  vertical-align: middle;
}

.fa {
  align-items: end;
}

section.container {
  margin: 300px 690px 300px 690px;
}

.form-section {
  background-image: url("/images/header-shapes\ mobile.svg");
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-size: auto;
  border-top-left-radius: 5rem;
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 150px;
  overflow-x: hidden;
  width: 375px;
  height: 779px;
}

textarea {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  margin-left: 1px;
  margin-top: 30px;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  align-items: flex-start;
  width: 327px;
  height: 170px;
}

.b1 {
  padding: 24px 45px 24px 45px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #6070ff;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

#contact {
  color: #fff;
}

.form-title {

}
