body {
  background-color: #fff;
  background-image: url("images/mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
}

.Header {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  justify-content: flex-start;
  color: #6070ff;
  font-weight: 800;
}

button.menu {
  color: #6070ff;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
}

h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  font-weight: 800;
  margin-top: 100px;
}

.description {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

.lets-connect {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 100%;
  vertical-align: top;
  margin-top: 50px;
  font-weight: 900;
}

.icons {
  color: #505f79;
}

p {
  font-weight: 5px;
}
